<section class="forecast">
    <div class="container">
        <div class="forecast__top">
            <h1 class="title">Прогнозы на спорт</h1>
            <div class="forecast__filters">
                <button class="forecast__button forecast__button--active">Все</button>
                <button class="forecast__button">Сегодня</button>
                <button class="forecast__button">Завтра</button>
            </div>
        </div>

        <ul class="forecast__list">
            <li class="forecast__item forecast__item--popular">
                <a href="#" class="forecast__link">
                    <img src="../img/forecast-1.png" alt="Металлург Магнитогорск vs Трактор" />
                    <div class="forecast__content">
                        <p class="forecast__text"><strong>Футбол</strong> / Завтра в 9-20</p>
                        <h3 class="forecast__title">Металлург Магнитогорск - Трактор. Прогноз на матч 11.04.2022</h3>
                    </div>
                </a>
            </li>
            <li class="forecast__item forecast__item--popular">
                <a href="#" class="forecast__link">
                    <img src="../img/forecast-2.png" alt="Лейпциг vs Хоффенхайм" />
                    <div class="forecast__content">
                        <p class="forecast__text"><strong>Футбол</strong> / Завтра в 9-20</p>
                        <h3 class="forecast__title">Лейпциг - Хоффенхайм. Прогноз на матч 10.04.2022</h3>
                    </div>
                </a>
            </li>
            <li class="forecast__item">
                <a href="#" class="forecast__link">
                    <img src="../img/forecast-3.png" alt="Манчестер Сити vs Ливерпуль" />
                    <div class="forecast__content">
                        <p class="forecast__text"><strong>Футбол</strong> / Завтра в 9-20</p>
                        <h3 class="forecast__title">Манчестер Сити - Ливерпуль. Прогноз на матч 10.04.2022</h3>
                    </div>
                </a>
            </li>
        </ul>

        <button class="forecast__more">
            <p>Больше прогнозов</p>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1403_8)">
                <path d="M15 5L13.59 6.41L18.17 11H2V13H18.17L13.58 17.59L15 19L22 12L15 5Z" />
                </g>
                <defs>
                <clipPath id="clip0_1403_8">
                <rect width="24" height="24" fill="white"/>
                </clipPath>
                </defs>
            </svg>
        </button>
    </div>
</section>