<header class="header">
  <div class="container header__inner">
    <button class="burger-menu">
      <span class='burger-menu__item'></span>
      <span class='burger-menu__item'></span>
      <span class='burger-menu__item'></span>
    </button>

    <a class="header__logo" href="#">
      <img class="header__img" src="./img/logo.png" alt="RatingBet logo" />
    </a>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item nav__item--extend"><a href="#" class="nav__link">Прогнозы</a></li>
        <li class="nav__item nav__item--extend"><a href="#" class="nav__link">Бонусы</a></li>
        <li class="nav__item nav__item--extend"><a href="#" class="nav__link">Букмекеры</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Новости</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Робобет</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Блог</a></li>
      </ul>
    </nav>

    <div class="header__language">
      <img src="./img/language.png" alt="Язык" />
      <span>Рус</span>
    </div>

    <div class="header__mobile-menu">
      <div class="header__mobile-top">
        <a class="header__logo" href="#">
          <img class="header__img" src="./img/logo.png" alt="RatingBet logo" />
        </a>
        <button class="header__close">
          <img src="./img/clsoe.png" alt="close menu"/>
        </button>
      </div>
      <nav class="mobile-nav">
        <ul class="mobile-nav__list">
          <li class="mobile-nav__item">
            <a href="#">Главная</a>
          </li>
          <li class="mobile-nav__item mobile-nav__item--extend">
            <a href="#">Прогнозы</a>
            <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7614 9.56217L10.7618 9.56262L12.6475 7.677L6.9906 2.02014L5.10498 3.90576L8.87577 7.67655L5.10428 11.448L6.9899 13.3337L10.7614 9.56217Z" />
            </svg>
          </li>
          <li class="mobile-nav__item mobile-nav__item--extend">
            <a href="#">Бонусы</a>
            <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7614 9.56217L10.7618 9.56262L12.6475 7.677L6.9906 2.02014L5.10498 3.90576L8.87577 7.67655L5.10428 11.448L6.9899 13.3337L10.7614 9.56217Z" />
            </svg>
          </li>
          <li class="mobile-nav__item mobile-nav__item--extend">
            <a href="#">Букмекеры</a>
            <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7614 9.56217L10.7618 9.56262L12.6475 7.677L6.9906 2.02014L5.10498 3.90576L8.87577 7.67655L5.10428 11.448L6.9899 13.3337L10.7614 9.56217Z" />
            </svg>
          </li>
          <li class="mobile-nav__item">
            <a href="#">Новости</a>
          </li>
          <li class="mobile-nav__item">
            <a href="#">Робобет</a>
          </li>
          <li class="mobile-nav__item">
            <a href="#">Блог</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="overlay" />
</header>
