<section class="schedule">
    <div class="container schedule__inner">
        <div class="schedule__leagues">
            <h2 class="title schedule__heading schedule__heading--leagues">Топ лиги</h2>
            <div class="schedule__leagues-container">
                <ul class="schedule__leagues-list">
                    <li class="schedule__leagues-item">
                        <a href="#">
                            <img src="./img/chemp.png" alt="Лига чемпионов лого" />
                            <h3>Лига чемпионов</h3>
                        </a>
                    </li>
                    <li class="schedule__leagues-item">
                        <a href="#">
                            <img src="./img/europe.png" alt="Лига Европы лого" />
                            <h3>Лига Европы</h3>
                        </a>
                    </li>
                    <li class="schedule__leagues-item">
                        <a href="#">
                            <img src="./img/uefa.png" alt="Супер кубок УЕФА лого" />
                            <h3>Супер кубок УЕФА</h3>
                        </a>
                    </li>
                    <li class="schedule__leagues-item">
                        <a href="#">
                            <img src="./img/conf.png" alt="Лига конференций лого" />
                            <h3>Лига конференций</h3>
                        </a>
                    </li>
                    <li class="schedule__leagues-item">
                        <a href="#">
                            <img src="./img/world-champ.png" alt="Клубный чемпионат мира лого" />
                            <h3>Клубный чемпионат мира</h3>
                        </a>
                    </li>
                    <li class="schedule__leagues-item">
                        <a href="#">
                            <img src="./img/chemp.png" alt="Чемпионат Англии лого" />
                            <h3>Чемпионат Англии</h3>
                        </a>
                    </li>
                    <li class="schedule__leagues-item">
                        <a href="#">
                            <img src="./img/europe.png" alt="Супер кубок Англии лого" />
                            <h3>Супер кубок Англии</h3>
                        </a>
                    </li>
                    <li class="schedule__leagues-item">
                        <a href="#" title="Кубок Английсокй лиги (Английская лига)">
                            <img src="./img/uefa.png" alt="Кубок Английсокй лиги (А... лого" />
                            <h3>Кубок Английсокй лиги (А...</h3>
                        </a>
                    </li>
                    <li class="schedule__leagues-item">
                        <a href="#">
                            <img src="./img/conf.png" alt="Чемпионшип лого" />
                            <h3>Чемпионшип</h3>
                        </a>
                    </li>
                    <li class="schedule__leagues-item">
                        <a href="#">
                            <img src="./img/world-champ.png" alt="Лига чемпионов лого" />
                            <h3>Лига Чемпионов</h3>
                        </a>
                    </li>
                    <li class="schedule__leagues-item">
                        <a href="#">
                            <img src="./img/europe.png" alt="Супер кубок Англии лого" />
                            <h3>Супер кубок Англии</h3>
                        </a>
                    </li>
                    <li class="schedule__leagues-item">
                        <a href="#" title="Кубок Английсокй лиги (Английская лига)">
                            <img src="./img/uefa.png" alt="Кубок Английсокй лиги (А... лого" />
                            <h3>Кубок Английсокй лиги (А...</h3>
                        </a>
                    </li>
                    <li class="schedule__leagues-item">
                        <a href="#">
                            <img src="./img/conf.png" alt="Чемпионшип лого" />
                            <h3>Чемпионшип</h3>
                        </a>
                    </li>
                </ul>
                <button class="schedule__leagues-btn">Все лиги</button>
            </div>
        </div>
        <div class="schedule__matches">
            <div class="schedule__days">
                <h2 class="title schedule__heading">Матч-центр</h2>
                <div class="forecast__filters schedule__filters">
                    <button class="forecast__button">Live</button>
                    <button class="forecast__button">05.06</button>
                    <button class="forecast__button">Вчера</button>
                    <button class="forecast__button forecast__button--active">Сегодня</button>
                    <button class="forecast__button">Завтра</button>
                    <button class="forecast__button">09.06</button>
                    <button class="schedule__calendar">
                        <img src="./img/calendar.png" alt="calendar">
                        <span>Календарь</span>
                    </button>
                </div>
            </div>
            <ul class="schedule__matches-list">
                <li class="schedule__matches-item">
                    <a href="#">
                        <p class="schedule__text">Сегодня в 17-15</p>
                        <div class="schedule__teams">
                            <div class="schedule__team">
                                <h4 class="schedule__team-title">Боруссия</h4>
                                <img src="./img/borusia.png" alt="borusia" />
                                <span class="schedule__score schedule__score--mobile">-</span>
                            </div>
                            <div class="schedule__score">
                                <span class="schedule__score-item-left">-</span>
                                <span class="schedule__semicolon">:</span>
                                <span class="schedule__score-item-right">-</span>
                            </div>
                            <div class="schedule__team schedule__team--reverse">
                                <h4 class="schedule__team-title schedule__team-title--reverse">Манчестер Сити</h4>
                                <img src="./img/manchester.png" alt="manchester city" />
                                <span class="schedule__score schedule__score--mobile">-</span>
                            </div>
                        </div>
                        <button class="schedule__predict">
                            <img src="./img/predict.png" alt="Прогноз">
                            <span>Прогноз</span>
                        </button>
                    </a>
                </li>
                <li class="schedule__matches-item">
                    <a href="#">
                        <p class="schedule__text">Завтра в 9:20</p>
                        <div class="schedule__teams">
                            <div class="schedule__team">
                                <h4 class="schedule__team-title">Евертон</h4>
                                <img src="./img/everton.png" alt="everton" />
                                <span class="schedule__score schedule__score--mobile">-</span>
                            </div>
                            <div class="schedule__score">
                                <span class="schedule__score-item-left">-</span>
                                <span class="schedule__semicolon">:</span>
                                <span class="schedule__score-item-right">-</span>
                            </div>
                            <div class="schedule__team schedule__team--reverse">
                                <h4 class="schedule__team-title schedule__team-title--reverse">Валенсия</h4>
                                <img src="./img/valencia.png" alt="valencia" />
                                <span class="schedule__score schedule__score--mobile">-</span>
                            </div>
                        </div>
                        <button class="schedule__predict schedule__predict--disable">
                            <img src="./img/predict.png" alt="Прогноз">
                            <span>Прогноз</span>
                        </button>
                    </a>
                </li>
                <li class="schedule__matches-item">
                    <a href="#">
                        <p class="schedule__text">Завтра в 9:20</p>
                        <div class="schedule__teams">
                            <div class="schedule__team">
                                <h4 class="schedule__team-title">Боруссия</h4>
                                <img src="./img/borusia.png" alt="borusia" />
                                <span class="schedule__score schedule__score--mobile">-</span>
                            </div>
                            <div class="schedule__score">
                                <span class="schedule__score-item-left">-</span>
                                <span class="schedule__semicolon">:</span>
                                <span class="schedule__score-item-right">-</span>
                            </div>
                            <div class="schedule__team schedule__team--reverse">
                                <h4 class="schedule__team-title schedule__team-title--reverse">Манчестер Сити</h4>
                                <img src="./img/manchester.png" alt="manchester" />
                                <span class="schedule__score schedule__score--mobile">-</span>
                            </div>
                        </div>
                        <button class="schedule__predict schedule__predict--disable">
                            <img src="./img/predict.png" alt="Прогноз">
                            <span>Прогноз</span>
                        </button>
                    </a>
                </li>
                <li class="schedule__matches-item">
                    <a href="#">
                        <p class="schedule__text">20.12.2022, 19:45</p>
                        <div class="schedule__teams">
                            <div class="schedule__team">
                                <h4 class="schedule__team-title">Вулвергемптон</h4>
                                <img src="./img/woolgempton.png" alt="woolgempton" />
                                <span class="schedule__score schedule__score--mobile">-</span>
                            </div>
                            <div class="schedule__score">
                                <span class="schedule__score-item-left">-</span>
                                <span class="schedule__semicolon">:</span>
                                <span class="schedule__score-item-right">-</span>
                            </div>
                            <div class="schedule__team schedule__team--reverse">
                                <h4 class="schedule__team-title schedule__team-title--reverse">Евертон</h4>
                                <img src="./img/everton.png" alt="eberton" />
                                <span class="schedule__score schedule__score--mobile">-</span>
                            </div>
                        </div>
                        <button class="schedule__predict schedule__predict--disable">
                            <img src="./img/predict.png" alt="Прогноз">
                            <span>Прогноз</span>
                        </button>
                    </a>
                </li>
                <li class="schedule__matches-item">
                    <a href="#">
                        <p class="schedule__text schedule__text--live"><strong>LIVE</strong> 120’</p>
                        <div class="schedule__teams">
                            <div class="schedule__team">
                                <h4 class="schedule__team-title">Барселона</h4>
                                <img src="./img/fcb.png" alt="fcb" />
                                <span class="schedule__score schedule__score--live schedule__score--mobile">2</span>
                            </div>
                            <div class="schedule__score schedule__score--live">
                                <span class="schedule__score-item-left">2</span>
                                <span class="schedule__semicolon">:</span>
                                <span class="schedule__score-item-right">3</span>
                            </div>
                            <div class="schedule__team schedule__team--reverse">
                                <h4 class="schedule__team-title schedule__team-title--reverse">Манчестер Сити</h4>
                                <img src="./img/manchester.png" alt="manchester" />
                                <span class="schedule__score schedule__score--live schedule__score--mobile">3</span>
                            </div>
                        </div>
                        <button class="schedule__predict">
                            <img src="./img/predict.png" alt="Прогноз">
                            <span>Прогноз</span>
                        </button>
                    </a>
                </li>
                <li class="schedule__matches-item">
                    <a href="#">
                        <p class="schedule__text schedule__text--live"><strong>LIVE</strong> 44’</p>
                        <div class="schedule__teams">
                            <div class="schedule__team">
                                <h4 class="schedule__team-title">Боруссия</h4>
                                <img src="./img/borusia.png" alt="borusia" />
                                <span class="schedule__score schedule__score--live schedule__score--mobile">0</span>
                            </div>
                            <div class="schedule__score schedule__score--live">
                                <span class="schedule__score-item-left">0</span>
                                <span class="schedule__semicolon">:</span>
                                <span class="schedule__score-item-right">1</span>
                            </div>
                            <div class="schedule__team schedule__team--reverse">
                                <h4 class="schedule__team-title schedule__team-title--reverse">Валенсия</h4>
                                <img src="./img/valencia.png" alt="valencia" />
                                <span class="schedule__score schedule__score--live schedule__score--mobile">1</span>
                            </div>
                        </div>
                        <button class="schedule__predict schedule__predict--disable">
                            <img src="./img/predict.png" alt="Прогноз">
                            <span>Прогноз</span>
                        </button>
                    </a>
                </li>
                <li class="schedule__matches-item">
                    <a href="#">
                        <p class="schedule__text">21.12.2022, 12:17</p>
                        <div class="schedule__teams">
                            <div class="schedule__team">
                                <h4 class="schedule__team-title">Евертон</h4>
                                <img src="./img/everton.png" alt="everton" />
                                <span class="schedule__old-score schedule__old-score--mob schedule__score--mobile">(3)</span>
                                <span class="schedule__score schedule__score--ended schedule__score--mobile">0</span>
                            </div>
                            <div class="schedule__score schedule__score--ended">
                                <span class="schedule__score-item-left">0</span>
                                <span class="schedule__semicolon">:</span>
                                <span class="schedule__score-item-right">0</span>
                                <div class="schedule__old-score">
                                    <span class="schedule__score-item-left">(3)</span>
                                    <span class="schedule__semicolon">:</span>
                                    <span class="schedule__score-item-right">(4)</span>
                                </div>
                            </div>
                            <div class="schedule__team schedule__team--reverse">
                                <h4 class="schedule__team-title schedule__team-title--reverse">Валенсия</h4>
                                <img src="./img/valencia.png" alt="valencia" />
                                <span class="schedule__old-score schedule__old-score--mob schedule__score--mobile">(4)</span>
                                <span class="schedule__score schedule__score--ended schedule__score--mobile">0</span>
                            </div>
                        </div>
                        <button class="schedule__predict schedule__predict--disable">
                            <img src="./img/predict.png" alt="Прогноз">
                            <span>Прогноз</span>
                        </button>
                    </a>
                </li>
                <li class="schedule__matches-item">
                    <a href="#">
                        <p class="schedule__text">23.12.2022, 17:15</p>
                        <div class="schedule__teams">
                            <div class="schedule__team">
                                <h4 class="schedule__team-title">Манчестер Сити</h4>
                                <img src="./img/manchester.png" alt=",anchester" />
                                <span class="schedule__score schedule__score--ended schedule__score--mobile">2</span>
                            </div>
                            <div class="schedule__score schedule__score--ended">
                                <span class="schedule__score-item-left">2</span>
                                <span class="schedule__semicolon">:</span>
                                <span class="schedule__score-item-right">4</span>
                            </div>
                            <div class="schedule__team schedule__team--reverse">
                                <h4 class="schedule__team-title schedule__team-title--reverse">Барселона</h4>
                                <img src="./img/fcb.png" alt="fbc" />
                                <span class="schedule__score schedule__score--ended schedule__score--mobile">4</span>
                            </div>
                        </div>
                        <button class="schedule__predict">
                            <img src="./img/predict.png" alt="Прогноз">
                            <span>Прогноз</span>
                        </button>
                    </a>
                </li>
                <li class="schedule__matches-item">
                    <a href="#">
                        <p class="schedule__text">23.12.2022, 19:45</p>
                        <div class="schedule__teams">
                            <div class="schedule__team schedule__team">
                                <h4 class="schedule__team-title">Барселона</h4>
                                <img src="./img/fcb.png" alt="fbc" />
                                <span class="schedule__score schedule__score--ended schedule__score--mobile">0</span>
                            </div>
                            <div class="schedule__score schedule__score--ended">
                                <span class="schedule__score-item-left">0</span>
                                <span class="schedule__semicolon">:</span>
                                <span class="schedule__score-item-right">2</span>
                            </div>
                            <div class="schedule__team schedule__team--reverse">
                                <h4 class="schedule__team-title schedule__team-title--reverse">Манчестер Сити</h4>
                                <img src="./img/manchester.png" alt="manchester" />
                                <span class="schedule__score schedule__score--ended schedule__score--mobile">2</span>
                            </div>
                        </div>
                        <button class="schedule__predict schedule__predict--disable">
                            <img src="./img/predict.png" alt="Прогноз">
                            <span>Прогноз</span>
                        </button>
                    </a>
                </li>
                <li class="schedule__matches-item">
                    <a href="#">
                        <p class="schedule__text">23.12.2022, 19:45</p>
                        <div class="schedule__teams">
                            <div class="schedule__team">
                                <h4 class="schedule__team-title">Евертон</h4>
                                <img src="./img/everton.png" alt="everton" />
                                <span class="schedule__score schedule__score--ended schedule__score--mobile">1</span>
                            </div>
                            <div class="schedule__score schedule__score--ended">
                                <span class="schedule__score-item-left">1</span>
                                <span class="schedule__semicolon">:</span>
                                <span class="schedule__score-item-right">2</span>
                            </div>
                            <div class="schedule__team schedule__team--reverse">
                                <h4 class="schedule__team-title schedule__team-title--reverse">Валенсия</h4>
                                <img src="./img/valencia.png" alt="valencia" />
                                <span class="schedule__score schedule__score--ended schedule__score--mobile">2</span>
                            </div>
                        </div>
                        <button class="schedule__predict schedule__predict--disable">
                            <img src="./img/predict.png" alt="Прогноз">
                            <span>Прогноз</span>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>