:root {
  //colors
  --white-color: #ffffff;
  --black-color: #212121;
  --grey-color: #637093;
  --bg-color: #f3f6f9;
  --blue-light-color: #5685ff;
  --blue-main-color: #255ced;
  --orange-color: #fd6230;
  --yellow-color: #fedb0d;
}
